body {
  background-image: url(../images/endless-constellation.svg);
  color: white;
}

#titulos {
  margin-top: 180px;
  margin-left: 60px;
}

.logoGral {
  width: 150px;
  height: 110px;
}

li {
  padding: 2rem;
  font-size: x-large;
}

li .nav-link {
  color: #ffffff;
}

#foto1 {
  margin-bottom: 3rem;
}

#logosProg {
  width: 300px;
  height: 100px;
  margin-top: 1rem;
  margin-left: 4rem;
}

#foto2 {
  width: 480px;
  height: 480px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.btn {
  margin-bottom: 2rem;
  background-color: #008187;
  border-color: white;
}

#bannerServicios {
  background-image: url(../images/serviciosBanner.webp);
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.shadow-container {
  background-color: rgba(105, 42, 230, 0.4);
  color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.primeraLinea {
  padding: 3rem;
}

.segundaLinea {
  padding: 3rem;
}

#tituloServicios {
  text-align: start;
  color: #008187;
  position: relative;
  top: 70px;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

#bannerClientes {
  background-image: url(../images/ClientesBanner.webp);
  background-size: cover;
  width: 98%;
  height: 300px;
  border-radius: 20px;
}

#tituloClientes {
  text-align: start;
  color: #008187;
  position: relative;
  top: 70px;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.clientesp {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#fotoClienteUno {
  margin-top: 3rem;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

#fotoClienteDos {
  margin-top: 3rem;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

#fotoClienteTres {
  margin-top: 3rem;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.contenidoContacto {
  text-align: center;
  align-items: center;
}

#sectionContacto {
  margin-top: 4rem;
}

#tituloContacto {
  color: white;
  text-align: center;
  margin-top: rem;
}

@media (max-width: 767px) {
  .shadow-container {
    margin-bottom: 20px;
  }
  .shadow-container .primeraLinea {
    padding-bottom: 0%;
  }
}

@media (max-width: 770px) {
  #logosProg {
    margin-left: 250px;
  }
}
@media (max-width: 770px) and (max-width: 325px) {
  #logosProg {
    margin-left: 2rem;
    width: 250px;
    height: 80px;
  }
}

@media (max-width: 770px) {
  #titulos {
    margin-top: 100px;
    margin-left: 280px;
    margin-bottom: 3rem;
  }
}
@media (max-width: 325px) {
  #titulos {
    margin-top: 80px;
    margin-left: 40px;
  }
}

@media (max-width: 770px) {
  #foto1 {
    margin-left: 150px;
  }
}
@media (max-width: 325px) {
  #foto1 {
    width: 300px;
    height: 300px;
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 530px) {
  #foto2 {
    width: 400px;
    height: 400px;
    margin-left: 0%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 376px) {
  #foto2 {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 350px) {
  #foto2 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 325px) {
  #bannerClientes {
    height: 120px;
  }
}

@media (max-width: 325px) {
  footer .row.text-center {
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
