#bannerClientes {
    background-image: url(../images/ClientesBanner.webp);
    background-size: cover;
    width: 98%;
    height: 300px; 
    border-radius: 20px;
}
#tituloClientes{
    text-align: start;
    color: $colorSecundario;
    position: relative;
    top: 70px;
    margin-left: 3rem;
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}
.clientesp{
    background-color: rgba(255, 255, 255, .4);
    border-radius: 20px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#fotoClienteUno{
    margin-top: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
}
#fotoClienteDos{
    margin-top: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden; 
    margin-bottom: 3rem;
}
#fotoClienteTres{
    margin-top: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;} 

