.clientesp{
    background-color: rgba(255, 255, 255, .4);
    border-radius: 20px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#fotoClienteUno{
    margin-top: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
}
#fotoClienteDos{
    margin-top: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden; 
    margin-bottom: 3rem;
}
#fotoClienteTres{
    margin-top: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;} 
