.contenidoContacto{
    text-align: center;
    align-items: center;
}
#sectionContacto{
    margin-top: 4rem;}
    #tituloContacto{
        color: white;
        text-align: center;
        margin-top: rem;}