.shadow-container{
  @media (max-width: 767px) {
    margin-bottom: 20px;
    .primeraLinea {
      padding-bottom: 0%;
    }
  }
}
#logosProg {
  @media (max-width: 770px) {
    margin-left: 250px;

    @media (max-width: 325px) {
      margin-left: 2rem;
      width: 250px;
      height: 80px;
    }
  }
}
#titulos {
  @media (max-width: 770px) {
    margin-top: 100px;
    margin-left: 280px;
    margin-bottom: 3rem;
  }
  @media (max-width: 325px) {
    margin-top: 80px;
    margin-left: 40px;
  }
}
#foto1 {
  @media (max-width: 770px) {
    margin-left: 150px;
  }
  @media (max-width: 325px) {
    width: 300px;
    height: 300px;
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
#foto2 {
  @media (max-width: 530px) {
    width: 400px;
    height: 400px;
    margin-left: 0%;
    margin-bottom: 1rem;
  }
  @media (max-width: 376px){
    width: 330px;
    height: 330px;
  }
  @media (max-width: 350px){
    width: 300px;
    height: 300px;
  }
}
#bannerClientes {
  @media (max-width: 325px){
    height: 120px;
  }
}
footer {
    @media (max-width: 325px) {
        .row.text-center {
          align-items: center;
          justify-content: center;
        }
      }     
}
