.shadow-container{
    background-color: rgba(255, 255, 255, .4);
    color: white;
    border-radius: 20px;
    text-align: center;
}
.primeraLinea{
    padding: 3rem;
}
.segundaLinea{
    padding: 3rem;
}
#tituloServicios{
    text-align: center;
}