#foto2{
    width: 480px;
    height: 480px;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;}
    
.btn {
    margin-bottom: 2rem;
    background-color: $colorSecundario;
    border-color: white;
}